.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db
*_bkp*
**/*_bkp*
api/**/*.egg-info
api/**/filessage.txt
api/**/filespy.txt
api/**/dist
api/**/build
api/**/*.pyc
api/**/**/*.egg-info
api/**/**/filessage.txt
api/**/**/filespy.txt
api/**/**/dist
api/**/**/build
api/**/**/*.pyc
