.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db
*_bkp*
**/*_bkp*
packages/Mathematica/cohomCalg
packages/Mathematica/MongoLink/*.jar
packages/python/**/*.egg-info
packages/python/**/filessage.txt
packages/python/**/filespy.txt
packages/python/**/dist
packages/python/**/build
**/*.pyc
