# System workload manager type
workload-manager: slurm

# Partition/Queue resources (Name: RAM in bytes)
resources:
    ser-par-10g: 128000000000
    ser-par-10g-2: 64000000000
    ser-par-10g-3: 128000000000
    ser-par-10g-4: 128000000000
    #ser-par-10g-5: 256000000000
    largemem-10g: 384000000000

# Installed software
software:
    bash:
        extension: .bash
    python:
        extension: .py
        command: python
    sage:
        extension: .py
        command: sage
        ignored-strings:
            - 'Singular crashed -- automatically restarting.'
    mathematica:
        extension: .m
        command: math
        license-command: mathematica_licenses
        sublicense-command: mathematica_sublicenses
        flags:
            - '-noprompt'
            - '-script'
        ignored-strings:
            - 'MathLink could not create temporary directory'
            - 'The program may not function correctly'

# Global extrema
max-jobs: 500
max-steps: 
min-controller-threads: 4
min-job-threads: 4